/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif; /* You can change the font to whatever you like */
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    overflow: hidden;
  }
  
  /* Utility Classes */
  .full-height {
    height: 100vh;
  }
  
  /* App Container */
  .App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Headers */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  /* Links */
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Buttons */
  button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  /* Forms */
  input, select, textarea {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Tailwind dark mode support */
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  /* Container for the stars */
  .stars {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000; /* Dark background */
    overflow: hidden;
  }
  
  /* Style for individual stars */
  .star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 5px;
    height: 5px;
    opacity: 0.8;
    animation: pulse 2s infinite ease-in-out alternate;
  }
  
  /* Keyframes for pulsating effect */
  @keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.1;
    }
  }
  
  .home-text {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center exactly */
    color: #FFF8E3;
    font-size: 12rem;
    font-family: "Cantora One", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 10; /* Ensure it is above the stars */
    text-align: center;
    width: 100%; /* Take full width to center text properly */
    text-shadow: 5px 5px 15px #F7418F; /* Adds a black drop shadow */
}

.lock-in-button {
  position: absolute;
  top: 122%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #F7418F; 
  color: #FFF8E3; 
  font-family: "Cantora One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem; 
  border: none;
  border-radius: 10px; 
  padding: 1.5rem 6rem;
  cursor: pointer; 
  outline: none; 
  transition: background-color 0.3s; 
  z-index: 10; 
}

.lock-in-button:hover {
  background-color: #e33b84; 
}